* {
	font-family: FantasqueSansMono;
	font-size: 14px;
	font-weight: bold;
}

window {
    background: transparent;
}

window > box{
	border: 2px solid #f8f8f2;
	background-color: #282a36;
    box-shadow: 0 0 3px 3px #111111;
}

#input {
	margin: 5px;
	border: none;
	color: #f8f8f2;
	background-color: #44475a;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #282a36;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #282a36;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #f8f8f2;
} 

#text:selected {
	color: #bd93f9;
}
#entry:selected {
	background-color: #44475a;
}
