* {
    font-family: FantasqueSansMono, "Font Awesome 6 Free";
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
}

window#waybar > box {
    border-radius: 0px;
    margin: 0 0 10px 0;
    background: #282a36;
    box-shadow: 0px 0px 3px 3px #111111;
}

#language {
    background: #44475a;
    color: #f1fa8c;
    margin: 5px 5px 5px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
}

#network {
    background: #44475a;
    color: #50fa7b;
    margin: 5px 5px 5px 0px;
    padding: 5px 10px 5px 0;
    border-radius: 0 6px 6px 0;
}

#bluetooth {
    background: #44475a;
    color: #8be9fd;
    margin: 5px 0px 5px 0px;
    padding: 5px 10px 5px 0px;
    border-radius: 0;
}

#pulseaudio {
    background: #44475a;
    color: #ffb86c;
    margin: 5px 0px 5px 0;
    padding: 5px 10px 5px 10px;
    border-radius: 6px 0 0 6px;
}

#clock {
    background: #44475a;
    color: #f8f8f2;
    margin: 5px 5px 5px 0;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
}

tooltip {
    background: #282a36;
    border: 2px solid #f8f8f2;
    border-radius: 0;
    border-radius: 6px;
}

#user {
    background: #44475a;
    color: #f1fa8c;
    margin: 5px 0px 5px 0px;
    padding: 5px 10px 5px 0;
    border-radius: 0 6px 6px 0;
}

#cpu {
    background: #44475a;
    color: #bd93f9;
    margin: 5px 0px 5px 0px;
    padding: 5px 10px 5px 0px;
    border-radius: 0;
}

#memory {
    background: #44475a;
    color: #8be9fd;
    margin: 5px 0px 5px 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 6px 0 0 6px;
}

#custom-dunst {
    background: #44475a;
    color: #bd93f9;
    margin: 5px 5px 5px 0px;
    padding: 5px 10px 5px 0px;
    border-radius: 0 6px 6px 0;
}

#custom-pacman {
    background: #44475a;
    color: #ff79c6;
    margin: 5px 0px 5px 0;
    padding: 5px 10px 5px 10px;
    border-radius: 6px 0 0 6px;
}

#custom-media {
	background: #44475a;
    color: #f8f8f2;
    margin: 5px 0px 5px 0;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
}
